[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test Gerrit Repository
[access "refs/*"]
	owner = group user/bchen-eurovia
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bchen-eurovia
	label-Verified = -1..+1 group user/bchen-eurovia
	push = group user/bchen-eurovia
	read = group user/bchen-eurovia
	rebase = group user/bchen-eurovia
	removeReviewer = group user/bchen-eurovia
	submit = group user/bchen-eurovia
[access "refs/heads/*"]
	create = group user/bchen-eurovia
	push = +force group user/bchen-eurovia
	pushMerge = group user/bchen-eurovia
	read = group user/bchen-eurovia
[access "refs/tags/*"]
	push = group user/bchen-eurovia
	push = +force group user/bchen-eurovia
